@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="ChangeCount">Click me</button>

@code {
    private int currentCount = 0;
    private bool addingState = true;
    private void ChangeCount()
    {
        if (addingState)
        {
            currentCount++;
            addingState = currentCount < 15;
        }
        else
        {
            currentCount--;
            addingState = currentCount < -15;
        }
    }

}