﻿@page "/Todo"
<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone"/>
            <input @bind="todo.Title"/>
        </li>
    }
</ul>
<input placeholder="Something todo" @bind="incomingToDo"/>
<button @onclick="AddToDo">Add todo</button>

@code {
    private List<TaskToDo> todos = new List<TaskToDo>();
    private string incomingToDo;

    private void AddToDo()
    {
        if (!string.IsNullOrWhiteSpace(incomingToDo))
        {
            todos.Add(new TaskToDo {Title = incomingToDo});
            incomingToDo = string.Empty;
        }
    }
}